<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Game</title>
    <link rel="stylesheet" href="/public/styles/game.css" />
  </head>
  <body>
    <header class="grid">
      <h1>Main Game</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">Instructions</a>
        <a href="#">About</a>
      </nav>
    </header>
    <main class="grid">
      <aside class="game-log">
        <h1>Game log</h1>
      </aside>
      <div class="game-container">
        <div class="enemy-pieces">
          <h1>Some enemy pieces</h1>
        </div>
        <div class="board-wrapper">
          <div class="game-board">
            <div class="board-grid">
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-flag-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-colonel-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-general-outline-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-lieutenant-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-major-outline-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-marshal-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-miner-outline-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-scout-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-sergeant-outline-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-spy-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/bomb-icon-outline-red.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-captain-outline-red.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-red/icon-flag-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-colonel-outline-blue.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-general-outline-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-lieutenant-outline-blue.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-major-outline-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-marshal-outline-blue.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-miner-outline-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-scout-outline-blue.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-sergeant-outline-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-spy-outline-blue.png);
                "
              ></div>
              <div
                class="light-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/bomb-icon-outline-blue.png);
                "
              ></div>
              <div
                class="dark-square"
                style="
                  background: no-repeat center/100%
                    url(/public/img/icons/icons-blue/icon-captain-outline-blue.png);
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="player-pieces">
          <h1>Player pieces</h1>
        </div>
      </div>
      <aside class="chat">
        <h1>CHAT CHAT CHAT CHAT CHAT</h1>
      </aside>
    </main>
    <div class="test"></div>
    <p style="padding-bottom: 5000px">a</p>
    <footer>
      <h3>Some text</h3>
    </footer>
  </body>
</html>
