<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indice provisorio</title>
	<link rel="stylesheet" href="../css/instructions.css">
</head>
<body>
    <head>
        <br>
        <br>
        <br>
        <h1 class="title title__he>ad">stratego</h1>
        <h2 class="title title__he>ad">reglas de juego:</h2>
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/1heTfycQ_r0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <button onclick=goToLink()>jugar!</button>
    </head>
    <script>
        function goToLink(){
            window.location.href='http://localhost:3000/matchmaking/playerLogIn'
        }
    </script>
</body>
</html>